<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
  </head>
  <body>


  <%- include('./navbar.ejs') %>
      <%- include('./carousel.ejs') %>
      <%- include('./button-group.ejs') %>
      <%- include('./toast.ejs') %>
      <%- include('./scripts.ejs') %> 

   
  </body>
</html>